@import "tailwindcss";

body {
  @apply antialiased text-gray-900 bg-white dark:text-white dark:bg-[#16171d];
  background-color: #0A0A0A;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 4s ease-in-out infinite;
  animation-delay: 2s;
}
